<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>

<body style="background-color: #BC3908; color: antiquewhite;">

    <main role="main" class="container" style="background-color: #BC3908;">
        <h1>Hello ${user.name}!</h1>
        <h2 id="roles">Your roles:</h2><button class="btn" style="background-color: #F6AA1C;" type="button"
            data-toggle="collapse" data-target="#newRole" aria-expanded="false" aria-controls="newRole">
            +add new role
        </button>
        <ul id="roles-go-here" class="roles-go-here">
            <li>filler</li>
        </ul>
        <form action="/role" method="POST">

            <div class="collapse" id="newRole">
                <div class="card card-body bac">
                    <label for="role">Role:</label>
                    <input style="color: black" type="text" id="role" name="role"><br>
                    <label for="name">Your name:</label>
                    <input style="color: black" type="text" id="name" name="name"><br>
                    <label for="email">Your email:</label>
                    <input style="color: black" type="email" id="email" name="email"><br>
                    <label for="phone">Your phone number:</label>
                    <input style="color: black" type="tel" id="phone" name="phone"><br>
                    <input style="background-color: #F6AA1C" type="submit" value="Submit">
                </div>
            </div>

        </form>
        <h2 id="teams">Your teams:</h2>
        <ul id="teams-go-here" class="teams-go-here">

        </ul>
        <button class="btn" style="background-color: #F6AA1C;" type="button" data-toggle="collapse"
            data-target="#newTeam" aria-expanded="false" aria-controls="newTeam">
            +create new team
        </button>
        <div class="collapse" id="teamData">
            <div class="card card-body bac">
                <p>Player One</p>
                <button id='add-player-to-' style="background-color: #F6AA1C;" class="btn">+ add player</button>
            </div>
        </div>
        </div>

        <form action="/team" method="POST">

            <div class="collapse" id="newTeam">
                <div class="card card-body bac">
                    <label for="teamName">Team Name:</label>
                    <input style="color: black" type="text" id="teamName" name="teamName"><br>
                    <input style="background-color: #F6AA1C" type="submit" value="Submit">
                </div>
            </div>

            <a href="/users/logout" class="btn btn-secondary">Logout</a>
    </main>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../script.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>