<!-- Code by Jackson -->
<!DOCTYPE html>
<html lang="en">
    ${head}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sitemap for logged out user</title>
</head>
<body>
    <style type="text/css">
    #button {
        height: 50px;
        width: 50px;
        color: white;
        text-align: center;
        font-family: 'Impact';
        justify-content: center;
        border-radius: 25px;
        background-image: linear-gradient(#941B0C, #BC3908 50%, #D97212);

    }
    #button:hover{
        background-image: linear-gradient(#D97212, #BC3908 50%, #941B0C)
    }
    </style>
    
    <div id="sitemap" style="display: flex; justify-content: center; font-family: Impact; background-color: #A82A0A; color:white;">
    <h1 style="color: #F6AA1C;">Welcome Noob!</h1><br>
    <p style="color: #D97212">...</p><br>
    <a id="button" href="/users/register">Register</a>
    </div>
        
</body>
</html>