<!-- contains links to each other page on the site -->
<!DOCTYPE html>
<html lang="en">
    ${head}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sitemap for $user.name</title>
</head>
<body>
    <div id="sitemap" style="display: flex; justify-content: center; font-family: Impact; background-color: #A82A0A; color:white;">
    <h1>Welcome, ${user.name}!</h1>
    
    </div>
</body>
<!-- if logged in, populate site map / all links 
if not logged in, populate site map w / allowed links-->