<!-- contains links to each other page on the site -->
<!DOCTYPE html>
<html lang="en">
    ${head}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sitemap</title>
</head>
<body>
    <div id="mapspace" class="container-sm">
        
        <button class="btn btn-lg btn-info dropdown-toggle dropdown-toggle-split" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Login/Register
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="register.html">Register</a>
            <a class="dropdown-item" href="./login.html">Login</a>
        </div>
    </div>
</body>

